// Colors by [chicleboricua][1]
// [1]: http://www.colourlovers.com/palette/1569889/Mortal_Kombat/

// red
rojo = #EE2213

// orange
oak-aged = #EE9D13

// brown
hee = #140D01

// green
lui-kang = #339F15

// yellow
fatality = #DAEA22
