
// # Fonts

/*
// <https://github.com/LearnBoost/stylus/issues/276>
@font-face
  font-family "Mortal Kombat"
  font-style normal
  src url('/fonts/mortal-kombat.ttf', opentype), url('/fonts/mortal-kombat.eot')
*/

@font-face {
  font-family: "Mortal Kombat";
  src: url('/fonts/mortal-kombat.eot');
  src: url('/fonts/mortal-kombat.eot?iefix') format('eot'), url('/fonts/mortal-kombat.ttf') format('opentype');
}
